annotated-doc
annotated-types
anyio
asgiref>=3.7.0
certifi
charset-normalizer
click
cloudpickle
colorama
contourpy
cssbeautifier
cycler
Django
django-br-utils
djlint
django-mongodb-backend
EditorConfig
fastapi
fonttools
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
httptools
Hypercorn
hyperframe
idna
joblib
jsbeautifier
json5
kiwisolver
matplotlib
numpy
packaging
pandas
pathspec
pillow
playwright
priority
protobuf
psutil
py4j
pyarrow
pydantic
pydantic_core
pyee
pymongo
pyparsing
python-dateutil
python-dotenv
python-stdnum
pytz
PyYAML
regex
requests
scikit-learn
scipy
setuptools
six
sqlparse
starlette
stripe
mercadopago
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
wheel
wsproto
whitenoise
dj-database-url
gunicorn
tensorflow==2.13.0
tensorflow-hub==0.13.0
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-metadata
torch==2.0.1
transformers==4.35.2
opencv-python==4.8.1.78
onnx==1.14.1
onnxruntime==1.16.3
