annotated-doc
annotated-types
anyio
asgiref>=3.7.0
certifi
charset-normalizer
click
cloudpickle
colorama
contourpy
cssbeautifier
cycler
Django>=4.2,<5.1
django-br-utils
djlint
django-mongodb-backend
EditorConfig
fastapi
fonttools
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
httptools
Hypercorn
hyperframe
idna
joblib
jsbeautifier
json5
kiwisolver
matplotlib
numpy
packaging
pandas
pathspec
pillow
playwright
priority
protobuf
psutil
py4j
pyarrow
pydantic
pydantic_core
pyee
pymongo
pyparsing
python-dateutil
python-dotenv
python-stdnum
pytz
PyYAML
regex
requests
scikit-learn
scipy
setuptools
six
sqlparse
starlette
stripe
mercadopago
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
wheel
wsproto
whitenoise
dj-database-url
gunicorn
torch
transformers==4.35.2
tensorflow-hub
